
h1{
    color: tomato;
    text-align: center;
    text-shadow: 10px 10px 15px;
    border: 1px solid gray;
}
.me{
    color: rgb(255, 149, 0);
    font-size: 27px;
}
ol:hover{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: 27px;
}
ul{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.edu{
    width: 70vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:scroll;
    border: 2px solid black;
    height: 100px;
}